body {
  background-color: #7C09A7;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

}
.wrapper {
    width: 90vw;
    margin: 40px auto 0 auto;
}

.risorsa,.trasparente {
    display: inline-block;
    margin: 8vw;
    width: 14vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 140px;
    font-weight: 400;
    color: black;
    cursor: default;
    background-color: white;
    /*
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    */
}

.trasparente {
    opacity: 0;
}

#legno {
    color: #824200;
}

#argilla {
    color: red;
}

#canna {
    color: #daa520;
}

#pietra {
    color: #000000;
}

#grano {
  color: #FFFF00; 
}
#ortaggio {
  color: #ffa420; 
}
#cibo {
  color: #00C200;
}

#pecora, #cinghiale, #bestiame {
    color: #FF3300; /*#4285F4;*/
}

#undici {
  background-color: #ff3300;
  color: white;
}

#buttonRisorsa {
    width: 5vw;
    height: 5vw;
    margin-left: 85vw;  
}

.zero {
    background-color: white;
}

.somma {
    background-color: black;
}

.sottrai {
    background-color: red;
}
