body {
  background-color: #1620A2; /*#7C09A7;*/
 /* overflow: hidden;*/
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */

}
.wrapper {
    width: 90vw;
    margin: 40px auto 0 auto;
}

.risorsa,.trasparente {
    display: inline-block;
    margin: 4vw;
    width: 14vw;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 140px;
    font-weight: 400;
    color: black;
    cursor: default;
    background-color: #c1c1b8;
    box-shadow: 0px 0px 4vw;
    /*
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    */
}

.trasparente {
    opacity: 1;
}

#undici {
  background-color: #ff3300;
  color: white;
}

#buttonRisorsa {
    width: 5vw;
    height: 5vw;
    margin-left: 85vw;  
}

.zero {
    background-color: white;
}

.somma {
    background-color: black;
}

.sottrai {
    background-color: red;
}
